# Not language specific 
/analysis/
/artifacts/
/.nlsp-settings/
/.venv/
/.cache/

# C
/c/build/
/c/.cache/
/c/*/build
/c/*/.cache

# Rust
/rust/target/
/rust/**/target_analyzer/

# Zig
/zig/**/.zig-cache
/zig/**/zig-out
/zig/*/build
/zig/*/.cache

# Python scripts
__pycache__

# esp-idf
managed_components
sdkconfig
sdkconfig.fast
sdkconfig.small
sdkconfig.defaults-local
sdkconfig.old
