# Not language specific 
/analysis/
/artifacts/
/.nlsp-settings/
/.venv/
/.cache/
/.task/

# C
/c/build/
/c/.cache/
/c/*/build/
/c/*/.cache/
/c/toolchain/

# Rust
/rust/target/
/rust/**/target_analyzer/

# Zig
/zig/**/.zig-cache
/zig/**/zig-out
/zig/*/build
/zig/*/.cache

# Python scripts
__pycache__

# Notebooks
/scripts/*_files/
/scripts/*.html
/scripts/*.md
/scripts/*.quarto_ipynb

# esp-idf
managed_components
sdkconfig
sdkconfig.fast
sdkconfig.small
sdkconfig.defaults-local
sdkconfig.old
