CompileFlags:
  CompilationDatabase: build/
  Add:
    [
      -Wmissing-field-initializers,
      -D__XTENSA__=1,
      -isysroot=/home/ogurczak/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf,
      --sysroot=/home/ogurczak/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf,
    ]
  Remove: [ -f*, -m* ]
